body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin-bottom: 80px;
}
.logo img{
    width: 198px;
    height: 59px;
}
.sing-in-button{
    width: 104px;
    height: 43px;
    background: #21B573;
    border-radius: 33px;
    color: white;  
}
.get-started-button{
    width: 153px;
    height: 43px;
    border-radius: 33px;
    color: white;
}
.font li{
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
}
.teaching img{
    width: 100%;
}
header{
    background: #F0FFF0;
}
.navbar{
    background:#F0FFF0 !important;
}
.cat img{
    width: 60px;
    margin-bottom: 20px;
    
    
}
.cat{
    align-items: center;
    padding-left: 70px;
}
.box1{
    background: #F8FFFB;
    border-radius: 10px;
}
.box2{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.box3{
    background: #F8FFFB;
    border-radius: 10px;
}
.box4{
    background: #F8FFFB;
    border-radius: 10px;
}
.buy-course-btn{
    width: 137px;
    height: 35px;
    border-radius: 33px;
}
.card{
   
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.card-deck{
    height: 300px;
    width: 900px;
}
.course{
    margin-bottom: 15px;
}
.button{
    margin-bottom: 20px;
}
.calen, img{
    width: 20px;
}
.man, img{
    width: 120px;
    
}
.last-part{
    background: #282531;
    height: 370px;
    color: #FFFFFF;
}
.bollet{
    list-style-type: none;
}
.footer{
    background: #282531;
    color: #FFFFFF;
}